@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800&family=Itim&display=swap');
:root{
    --bg-clr: hsl(240, 1%, 38%);
    --ftr-clr: hsl(252, 8%,18%);
    --ttl-clr: hsl(60,64%,90%);
}
/* *GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: var(--bg-clr);
    font-family: 'Inter',sans-serif;
}
/* *MOBILE-MENU */
.menu{
    width: 0;
    height: 0;
    opacity: 0;
    padding: 1.5rem;
    background-color: var(--bg-clr);
    position: fixed;
    z-index: 2;
    transition: width .3s ease-out, opacity .3s ease-out;
}
.menu ul{
    display: none;
}
.menu a{
    display: block;
    text-decoration: none;
    color: var(--ttl-clr);
    padding: .75rem 0rem;
    font-size: 2rem;
    font-weight: 800;
}
/* *HEADER */
header{
    background-color: var(--bg-clr);
    display: flex;
    justify-content: space-between;
    filter: brightness(1.1);
    position: sticky;
    top: 0;
    z-index: 1;
}
header> a{
    font-family: 'Itim',cursive;
}
header a{
    color: hsl(60,64%,90%);
    text-decoration: none;
    padding: 1rem;
}
header ul{
    display: none;
    align-self: center;
    padding: 1rem;
}
header img{
    padding: .5rem;
    position: absolute;
    right: 1rem;
}
#clear{
    display: none;
}
h2{
    text-align: center;
    color: var(--ttl-clr);
    padding: 1rem;
}
/* *MAIN */
main .add{
    max-width: 350px;
}
.add button{
    background-color: transparent;
    border: solid 0px;
    transition: transform .25s ease-out;
}
main .add p{
    color: hsl(60,64%,90%);
    text-align: center;
}
/* *FOOTER */
footer{
    padding: 1rem;
    background-color: var(--ftr-clr);
    color: #fff;
    text-align: center;
    width: 100vw;
}
footer a{
    color: beige;
    text-decoration: none;
}
/* *DESKTOP */
@media (min-width: 769px){
    header ul{
        display: block;
    }
    header img{
        display: none;
    }
    .menu{
        display: none;
    }
    header a:hover{
        font-weight: 800;
    }
    .add button:hover{
        transform: scale(1.1);
        transform: translateY(-.25rem);
    }
}