@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800&family=Itim&display=swap');
:root{
    --bg-clr: hsl(240, 1%, 38%);
    --ftr-clr: hsl(252, 8%,18%);
    --ttl-clr: hsl(60,64%,90%);
}
/* *GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: var(--bg-clr);
    font-family: 'Inter',sans-serif;
}
main{
    position: relative;
}
/* *HEADER */
header{
    background-color: var(--bg-clr);
    display: flex;
    justify-content: space-between;
    filter: brightness(1.1);
    position: sticky;
    top: 0;
    z-index: 1;
}
header> a{
    font-family: 'Itim',cursive;
}
header a{
    color: hsl(60,64%,90%);
    text-decoration: none;
    padding: 1rem;
}
header ul{
    align-self: center;
    padding: 1rem;
}
header img{
    padding: .5rem;
    position: absolute;
    right: 1rem;
    display: none;
}
h2{
    text-align: center;
    color: var(--ttl-clr);
    padding: 1rem;
}
/* *MAIN */
main .add{
    max-width: 350px;
}
main .add label{
    background-color: transparent;
    border: solid 0px;
    transition: transform .25s ease-out;
    width: fit-content;
    margin: auto;
}
main .add p{
    color: hsl(60,64%,90%);
    text-align: center;
}
input[type="file"]{
    display: none;
}
#trash{
    background-color: hsl(240, 1%, 38%);
    padding: 1rem;
    border: solid 0px;
    border-radius: 50%;
    position: fixed;
    bottom: 5vh;
    right: .5rem;
    transition: background-color .25s ease-in, transform .25s ease-in;
    transform: scale(.65);
}
#trash:hover{
    background-color: hsl(60,64%,90%);
    transform: scale(.8);
}
/* *FOOTER */
footer{
    padding: 1rem;
    background-color: var(--ftr-clr);
    color: #fff;
    text-align: center;
    width: 100vw;
}
footer a{
    color: beige;
    text-decoration: none;
}
/* *DESKTOP */
@media (min-width: 769px){
    header a:hover{
        font-weight: 800;
    }
    .add label:hover{
        transform: scale(1.1);
        transform: translateY(-.25rem);
    }
    #trash{
        transform: scale(.8);
        right: 1.5rem;
    }
    #trash:hover{
        transform: scale(1);
    }
}
.hidden{
    display: none !important;
}