@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800&family=Itim&display=swap');
:root{
    --bg-clr: hsl(240, 1%, 38%);
    --ftr-clr: hsl(252, 8%,18%);
    --ttl-clr: hsl(60,64%,90%);
}
/* * General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
}
body{
    background-color: var(--bg-clr);
}
/* * Main */
main::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/UA-Hero.svg);
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
    filter: blur(2px);
    z-index: -1;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 3rem;
    text-align: center;
}
main h1{
    color: var(--ttl-clr);
    font-size: 3rem;
    font-family: 'itim',cursive;
}
main p{
    color: #fff;
}
main button{
    padding: 1rem;
    font-weight: 800;
    color: #111;
    background-color: var(--ttl-clr);
    border: 2px solid var(--ttl-clr);
    border-radius: .5rem;
    transition:background-color .25s ease-in ;
}
main button:hover{
    background-color: transparent;
    color: var(--ttl-clr);
    border-color: #333;
}
/* * Footer */
footer{
    padding: 1rem;
    background-color: var(--ftr-clr);
    color: #fff;
    text-align: center;
    position: absolute;
    bottom:0;
    width: 100vw;
}
footer a{
    color: beige;
    text-decoration: none;
}
/* * Desktop */
@media (min-width: 769px){
    main{
        text-align: left;
        justify-content: left;
        margin: 10rem;
    }
    main h1{
        font-size: 5rem;
    }
    main p{
        margin: 1rem 1rem;
    }
    main button{
        margin: 1rem 0.5rem;
    }
}