header ul a:nth-child(1){
    font-weight: 800;
}
/**MAIN*/
main{
    margin: 0rem 1rem;
    padding: 3rem;
    display: grid;
    place-content: center;
}
main .add{
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(60,64%,90%);
    max-width: 25rem;
    margin: 0.5rem 0rem;
    padding: 9rem 5rem;
    max-height: 350px;
}
main .add .image{
    padding: 1rem 1rem 5rem 1rem;
    background-color: #fff;
    max-height: 350px;
}
/**Desktop*/
@media (min-width:769px){
    main{
        margin: auto;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        max-width: 70vw;
    }
    main .add{
        max-height: 400px;
        padding: 12rem 9rem;
        justify-self: center;
    }
    main .add .image{
        padding: 1.5rem 1.5rem 6rem 1.5rem;
        max-height: 400px;
    }
}