header ul a:nth-child(1){
    font-weight: 800;
}
body{
    min-height: 100%;
}
/**MAIN*/
main{
    margin: 2rem 1rem;
    padding: 3rem;
    display: grid;
    place-content: center;
}
main .add{
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(60,64%,90%);
    max-width: 25rem;
    margin: 0.5rem 0rem;
    padding: 9rem 5rem;
}
main .add button{
    background-color: transparent;
    border: solid 0px;
}
main .add p{
    color: hsl(60,64%,90%);
    text-align: center;
}
/**Desktop*/
@media (min-width:769px){
    main{
        margin: auto;
        grid-template-columns: repeat(2,1fr);
        max-width: 70vw;
    }
    main .add{
        padding: 12rem 9rem;
        justify-self: center;
    }
}