header ul a:nth-child(2){
    font-weight: 800;
}
/**MAIN*/
main{
    margin: 0rem 1rem;
    padding: 3rem;
    display: grid;
    place-content: center;
}
main .add{
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(60,64%,90%);
    max-width: 20rem;
    margin: 0.5rem 0rem;
    padding: 3rem 7rem;
    aspect-ratio: 16/9;
}
main .add .image{
    padding: 1rem;
    background: url(../images/PC\ design\ 2.svg);
    background-color: #fff;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
}
/**Desktop*/
@media (min-width:769px){
    main{
        margin: auto;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        max-width: 100vw;
    }
    main .add{
        padding: 6rem 12rem;
        justify-self: center;
        max-width: 30rem;
    }
}